@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-computer{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

.developer-center{
    width: 800px;
    text-align: center;
    margin:0 auto;
}

.developer{
    background: url(../assets/Hero-bg.png);
    display:flex;
    margin:0px;
    padding:0px;
    width:100%;
    height: 700px;
    justify-content: center;
    align-items: center;



}

.developer-title{
    font-size: 38px;
    font-weight: bold;
    color: #0D1321;
}

.developer-paragraph{
    font-size: 16px;
    color:#0d1321b1;

}

.developer-button{
    font-size: 20px;
    font-weight: 600;
    color:#FFFFFF;
    padding: 19px 19px 24px 24px;
    border-radius: 8px;
    background-color:#0D1321;
    cursor: pointer;
    margin:0;
    
}


/* second part of the portfolio*/

.development{
    padding: 80px 97px 80px 97px;
    width:1140px;
    margin: 50px auto auto auto;
    border:1px solid rgb(224, 255, 255);
    box-shadow: 0 4px 8px #0d132100;
}

.development-header{
    text-align: center;
    width: 852px;
    margin: 0 auto;

}

.development-head{
    font-size: 32px;
    font-weight: 800px;
}

.development-info{
    padding: 32px;
    width:477px;

}

.development-title{
    font-size: 24px;
    font-weight: bold;
}

.development-subtitle{
    font-size: 16px;
    color: #0D1321;
}

.development-button{
    width: 131px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgba(7, 7, 15, 0.459);
    
}
.development-first-block, .development-second-block, .development-third-block{
    padding: 48px 48px 48px 48px;
    border: 1px solid white;
    box-shadow: 0px 4px 8px #adc8f765;
    margin-top: 32px;
}
.development-first-block, .development-second-block, .development-third-block{
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding-top:32px;
    
}

/*third phase of the portfolio*/


.developers-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.developer-header{
    margin-bottom: 20px;
}

.developing-video{

    margin-top: 20px;
    padding: 32px 32px 32px 32px;
    border: 1px solid rgba(0, 0, 0, 0.396);
    border-radius: 10px;
    
    
}

.developing-video-original{
    width: 1050px;
}


/*forth phase of the portfolio*/


.development-learning{
    padding: 200px 150px 200px 150px;
}


.developers-language{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
    
    
}




.developers-html{
    width: 300px;
    padding: 40px 40px 40px 40px;
    background-color: rgba(255, 101, 30, 0.315);
    border-radius: 15px;
}

.developers-css{
    width: 300px;
    padding: 40px 40px 40px 40px;
    background-color: rgba(0, 102, 244, 0.333);
    border-radius: 15px;
}
.developers-javascript{
    width: 310px;
    padding: 40px 40px 40px 40px;
    background-color: rgba(255, 221, 0, 0.533);
    border-radius: 15px;
}


.btn1{
    border: none;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color:#0D1321;
    background-color: rgba(255, 101, 30, 0.033);
    

}

.btn2{
    border: none;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color:#0D1321;
    background-color: rgba(0, 102, 244, 0.06);
}

.btn3{
    border: none;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color:#0D1321;
    background-color: rgba(255, 221, 0, 0.059);
}


/*This is the fifth phase of compeleting my portfolio*/



.developers-support{
    background: url(../assets/handshake.jpg) no-repeat,center;
    display:flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    max-width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    
    

}
.developers-input{
    display: flex;
    justify-content: center;
    padding: 44px 48px;
   


}
.developers-matha{
    padding-top: 280px;
}

.developers-suggestion{
    width: 548px;
    padding: 19px;
    margin-right: 16px;

}
.developers-submit{
    width:120px;
    padding: 17px 20px;
    color:#0D1321;
    background-color: white;
    border-radius: 8px;
    font-size: 20;
    font-weight: bold;
}

/*This is the last phase of the portfolio8*/
.developers-footer{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: rgba(183, 167, 167, 0.151);
    box-sizing: rgba(134, 125, 125, 0.544);
    
}

.developers-tools{
    display: flex;
    justify-content: center;
    gap: 30px;
}